.home-header {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
.home-header a {
  font-weight: 900;
  color: var(--title-color);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 4em;
}
